<div class="container">
  <div class="add-todo">
    <mat-form-field>
      <mat-label>Text for todo</mat-label>
      <input #todoText matInput placeholder="My custom todo">
    </mat-form-field>
    <button mat-raised-button
            color="primary"
            class="add-btn" (click)="add(todoText.value)">Add todo</button>
  </div>
  <div class="todo-list">
    <div class="todo" *ngFor="let todo of todos">
      <span class="text">{{todo.text}}</span>
      <button mat-raised-button color="warn" (click)="delete(todo.id)">
        Delete
      </button>
    </div>
  </div>
</div>
